ami                     = "ami-04d8503b7a7e254b3"
instance_type           = "t3.small"
key_name                = "name_of_keypair"
instance_name           = "nameofec2"
disk_size               = disk_size
my_ip                   = "102.0.17.54/32" # Use your actual IP here
sg_name                 = "security-group-name"
allow_http_cidr_blocks  = ["0.0.0.0/0"]
allow_https_cidr_blocks = ["0.0.0.0/0"]
